In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import os
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime,date, timedelta
import shutil
from time import time
from ahmedsabri import *

In [2]:
# reading data
df=pd.read_csv('Unit 02 Macro Database.csv',header=None)

c:\Users\Estabrk\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# creating column name
df.columns=df.iloc[0:4].fillna('').astype(str).apply(' '.join).str.strip()
df.columns=df.columns.str.replace(" ","_")
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace("-","_")
df=df.iloc[5:,:].reset_index(drop=True)

In [4]:
# remove duplicated column
df=remove_duplicated_columns(df,False)

In [5]:
df=convert_string_to_nan(df)

In [6]:
# dropping columns and rows containing 85 % nan values
df=keep_rows(keep_columns(df,0.85),0.85)

In [7]:
# converting all data to float except the first date column
df=to_float(df,1)

In [8]:
df['description_units_sheet_tag_no._parameter']=pd.to_datetime(df['description_units_sheet_tag_no._parameter'])

In [9]:
# Checking the highest nan containing column
df.isnull().sum().sort_values(ascending=False).head(6)

mps_nm3/hr_02_fi_055_daca.lastgoodpv        6655
02h01_skin_temperature_°c_02_txi_041d_pv    4344
hps_nm3/hr_02_fi_056_daca.lastgoodpv        2551
u_2/3_stack_temperature_°c_03_ti_014_pv      947
02h01_skin_temperature_°c_02_txi_036b_pv     691
reactor_outlet_temp_°c_02_ti_005_pv          689
dtype: int64

In [10]:
X=df.drop(['description_units_sheet_tag_no._parameter','charge_heater_bridge_wall_temp._°c_03_ti_015_pv'],axis=1)
y=df['charge_heater_bridge_wall_temp._°c_03_ti_015_pv']

In [11]:
X.fillna(X.median(),inplace=True)

In [12]:
from sklearn.preprocessing import PowerTransformer, MinMaxScaler
from sklearn.pipeline import make_pipeline
pt=PowerTransformer(standardize=False)
scaler=MinMaxScaler()
pipe= make_pipeline(pt,scaler)

In [13]:
X_final=pd.DataFrame(pipe.fit_transform(X),columns=X.columns)

In [15]:
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.base import clone
from sklearn.metrics import r2_score 
estimators_repeater(estimators=[RandomForestRegressor(),AdaBoostRegressor(),LinearRegression(),SGDRegressor()],loops=5,scorer=r2_score, X=X_final,y=y)

e:\Data analysis portofolio\Machine learning\NHT\ahmedsabri.py:249: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clean_clf.fit(X_train[tr_slicer[0]:tr_slicer[1]],y_train[tr_slicer[0]:tr_slicer[1]])
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

loop number 0 out of 5 took 559.8453469276428 seconds

e:\Data analysis portofolio\Machine learning\NHT\ahmedsabri.py:249: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clean_clf.fit(X_train[tr_slicer[0]:tr_slicer[1]],y_train[tr_slicer[0]:tr_slicer[1]])
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

loop number 1 out of 5 took 547.2283601760864 seconds

e:\Data analysis portofolio\Machine learning\NHT\ahmedsabri.py:249: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clean_clf.fit(X_train[tr_slicer[0]:tr_slicer[1]],y_train[tr_slicer[0]:tr_slicer[1]])
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

loop number 2 out of 5 took 555.5149810314178 seconds

e:\Data analysis portofolio\Machine learning\NHT\ahmedsabri.py:249: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clean_clf.fit(X_train[tr_slicer[0]:tr_slicer[1]],y_train[tr_slicer[0]:tr_slicer[1]])
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

loop number 3 out of 5 took 556.4180545806885 seconds

e:\Data analysis portofolio\Machine learning\NHT\ahmedsabri.py:249: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clean_clf.fit(X_train[tr_slicer[0]:tr_slicer[1]],y_train[tr_slicer[0]:tr_slicer[1]])
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\Users\Estabrk\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

loop number 4 out of 5 took 549.2738637924194 seconds

In [22]:
from ahmedsabri import training_score_df, testing_score_df, timing_df

In [27]:
training_score_df.mean().sort_values()

AdaBoostRegressor        0.972318
SGDRegressor             0.982392
LinearRegression         0.985070
RandomForestRegressor    0.999642
dtype: float64

In [28]:
testing_score_df.mean().sort_values()

AdaBoostRegressor        0.971815
SGDRegressor             0.982400
LinearRegression         0.984625
RandomForestRegressor    0.996982
dtype: float64

In [24]:
timing_df

   RandomForestRegressor  AdaBoostRegressor  LinearRegression  SGDRegressor
0             497.381659          50.749920          0.372259     11.263715
1             490.033140          49.054721          0.213076      7.782298
2             490.997818          51.768050          0.202079     12.485234
3             487.651934          54.582106          0.194479     13.924711
4             487.641631          50.753432          0.247817     10.500334

In [29]:
testing_score_df

   RandomForestRegressor  AdaBoostRegressor  LinearRegression  SGDRegressor
0               0.996261           0.972130          0.982526      0.979874
1               0.997716           0.972662          0.985155      0.982936
2               0.997050           0.970930          0.984335      0.983146
3               0.997423           0.972524          0.987260      0.984668
4               0.996459           0.970826          0.983851      0.981377

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, random_state=4)
lir=RandomForestRegressor()
lir.fit(X_train,y_train)

C:\Users\Estabrk\AppData\Local\Temp/ipykernel_3068/661709955.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  lir.fit(X_train,y_train)

RandomForestRegressor()

In [50]:
y_pred=lir.predict(X_test)

In [51]:
truth=pd.DataFrame()
truth['y_actual']= y_test
truth['Y_predict']= y_pred
truth['difference']=np.abs(truth['Y_predict']-truth['y_actual'])

In [52]:
r2_score(y_test,y_pred)

0.9966208599776989

In [53]:
from sklearn.metrics import mean_absolute_error

In [54]:
mean_absolute_error(y_test,y_pred)

3.5696914079053044

In [55]:
truth.difference.mean()

3.569691407905311

In [56]:
truth.sample(40)

       y_actual  Y_predict  difference
11609    673.38   674.7512      1.3712
21430    752.22   747.6897      4.5303
25929    616.35   610.2102      6.1398
35060    704.86   710.2425      5.3825
6683     696.34   695.8614      0.4786
3540     732.27   730.8608      1.4092
52486    648.99   658.2262      9.2362
46183    691.97   696.2196      4.2496
22869    656.83   665.3295      8.4995
28438    679.07   676.3461      2.7239
20039    736.03   733.0591      2.9709
45068    674.77   678.0452      3.2752
5502     709.99   713.9883      3.9983
42971    657.58   656.1620      1.4180
12157    679.36   678.7836      0.5764
13258    579.39   580.9063      1.5163
43803    691.97   691.8901      0.0799
40102    691.97   693.1167      1.1467
31919    674.77   682.1266      7.3566
17238    730.75   729.1615      1.5885
19350    739.20   738.7276      0.4724
32478    674.77   675.4460      0.6760
38228    653.28   647.9608      5.3192
50040    644.69   644.5180      0.1720
43821    704.86   706.0229      1.1629
13942    730.75   720.7396     10.0104
4742     718.57   719.5523      0.9823
36549    709.16   707.4261      1.7339
28261    485.67   486.4478      0.7778
1960     743.41   736.6209      6.7891
7572     706.97   706.2272      0.7428
21999     39.78    41.3766      1.5966
23725    668.80   669.1955      0.3955
14637    708.22   701.8974      6.3226
25090    661.06   662.8700      1.8100
36069    709.16   706.5762      2.5838
54030    696.26   702.4523      6.1923
8780     707.87   705.4974      2.3726
47315    679.07   675.4605      3.6095
17169    748.70   744.1492      4.5508

In [59]:
feat_impo=pd.DataFrame()
feat_impo['column']=X.columns
feat_impo['importance']= lir.feature_importances_

In [62]:
feat_impo.sort_values(by= 'importance', ascending=False)

                                                column  importance
92             u_2/3_stack_temperature_°c_03_ti_014_pv    0.813941
136                      03_h_01_skin__03_txi_017_b_pv    0.146832
53    splitter_reflux_flow__03_fic_004_daca.lastgoodpv    0.014313
82   fuel_gas_from_u_39_nm3/hr_02_fi_058_daca.lastg...    0.006149
91   flue_gas_oxygen_analyser_from_03_h_01_%_03_ai_...    0.003303
..                                                 ...         ...
74   splitter_overhead_pressure_bar(g)_03_pic_006_d...    0.000017
49   stripper_overhead_pressure_#b_bar(g)_02_pi_023...    0.000017
44   stripper_overhead_from_condenser_temp_°c_02_ti...    0.000015
48   stripper_overhead_pressure_#a_bar(g)_02_pi_023...    0.000015
16   cfe_bypass_valve_open_ratio_%_02_hic_001_autom...    0.000008

[139 rows x 2 columns]

In [63]:
feat_impo.sum()

column        straight_run_naphtha_from_unit1_m3/hr_01_fic_1...
importance                                                  1.0
dtype: object

In [64]:
truth.head(10)

       y_actual  Y_predict  difference
25338    667.39   665.6842      1.7058
17680    716.32   718.5479      2.2279
47635    670.48   670.9855      0.5055
22923    630.08   638.2988      8.2188
2937     734.48   736.0834      1.6034
13352     21.82    22.7831      0.9631
28447    674.77   676.9534      2.1834
18802    749.76   745.3452      4.4148
7582     719.02   722.2172      3.1972
11015    671.62   676.8977      5.2777